bcrypt==4.0.0
beautifulsoup4==4.10.0
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
configobj==5.0.6
cryptography==3.4.8
defer
distro
dnspython
email-validator
filelock==3.6.0
Flask==2.2.2
Flask-Bcrypt
Flask-SQLAlchemy==2.5.1
Flask-Upload
Flask-WTF
greenlet
grpcio
gunicorn==20.1.0
idna==3.3
imageio==2.22.0
IMDbPY==2021.4.18
importlib-metadata==4.6.4
itsdangerous==2.1.2
Jinja2==3.1.2
keyring==23.5.0
launchpadlib
lazr.uri
louis==3.20.0
Mako
MarkupSafe==2.1.1
more-itertools==8.10.0
mysql-connector-python==8.0.30
numpy
oauthlib==3.2.0
onboard
packaging==21.3
pandas
pexpect==4.8.0
Pillow==9.0.1
protobuf==3.12.4
psutil==5.9.0
psycopg2-binary==2.9.4
pycairo
pycups==2.0.1
pycurl==7.44.1
PyGObject==3.42.0
PyICU==2.8.1
PyJWT==2.4.0
PyMySQL
PyNaCl==1.5.0
pyparsing==2.4.7
pyparted==3.11.7
python-apt==2.3.0+ubuntu2
python-dateutil==2.8.2
python-xapp==2.2.2
pytz==2022.2.1
PyYAML==5.4.1
reportlab==3.6.8
requests==2.25.1
requests-file
SecretStorage==3.3.1
setproctitle
six
soupsieve==2.3.1
SQLAlchemy
sqlclient==21.4.24
systemd-python==234
tldextract==3.1.2
Unidecode
urllib3
wadllib
Werkzeug==2.2.2
WTForms==3.0.1
xdg==5
youtube-dl==2021.12.17
zipp
