bcrypt
beautifulsoup4
blinker
certifi
chardet
click
configobj
cryptography
defer
distro
dnspython
email-validator
filelock
Flask
Flask-Bcrypt
Flask-SQLAlchemy
Flask-WTF
greenlet
grpcio
gunicorn
IMDbPY
importlib-metadata
itsdangerous
Jinja2
keyring
launchpadlib
lazr.uri
psycopg2-binary
pycairo
pycups
pycurl
PyGObject
PyICU
PyJWT
PyMySQL
PyNaCl
pyparsing
requests
requests-file
SQLAlchemy
sqlclient
Werkzeug
WTForms

