{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block main %}
<h1>Photographic Memory</h1>
<br><br>
<div style="padding-left: 10%;padding-right: 15%; padding-bottom: 10%; overflow: hidden;">

    <p style="font-size: 1.5em; font-weight: bold;">
        This is a program that lets you memorize difficult concepts with pictures using the mindpalace technique</p>
        <h3>Do you know what is a mind palace </h3>
        <br>
        <p style="font-size: 1.3em;">
            The mind palace or the method of loci or memory journey it is a strategy for memory enhancment,which uses visualization of familiar spatial environments in order to enhance the recall of information you can read more about it 
    <a href="https://en.wikipedia.org/wiki/Method_of_loci">here</a>
    <br><br>
    But basicly this webapp is designed to help you optimize your memorizing of information using this very strategy
<br>
<h4>How does it work</h4> 
<br>
<p style="font-size: 1.3em;">

Simply you choose your palace (the physical space to put your info you want memorized in) it could be your home, your way to work or even your own body then you select checkpoint it is recomended to not assign more then necccesarry for exmple if the palace is your home assign 5 checkpoints per room
<br> Example
</p>
</p>
<ul style="font-size: 1.3em; list-style: none;">
    Palace : home 
    <li>
        checkpoint 1: door
    </li> 
    <li>chekpoint 2: sofa</li>
    <li>checkpint 3: TV</li>
    <li>...etc</li>

</ul>
<p style="font-size: 1.3em;">

Then you make the cards(info) now this is the fun part as you let your imagination run wild to turn your information into a picture or a short story
</p>
<h3> Then assign it to a checkpoint</h3>
<p style="font-size: 1.3em;">
let's take the word<bold> Quintessential</bold> for example when I see this word I see the "Queen" of England (RIP) with a bag of "essential" stuff
</p>
<h3>Now to put that mind image in a checkpoint</h3>
<p style="font-size: 1.3em;">
Palace : home.
 checkpoint 1: door
  card Quintessential = Queen + essential Explanation: I pass by the Queen standing at the door with her red bag full of essentials and she calls me a typical human (the word quintessential means typical)

Now try forgetting that

This method is like a cheat to studing as you are having fun creating and also memorizing even better than the traditional way

</p>

</div>
{% endblock%}
