{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="content">

        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="mb-3">
                
                <div class="mb-3">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control mx-auto w-auto") }}
                </div>
                
                <div class="mb-3">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control mx-auto w-auto") }}
                </div>
                <div class="mb-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </fieldset>
        </form>
    </div>   
{% endblock %}
