*, * ::before,::after{
    margin:0;
}


/* cards page*/
.card_container
{
    display:grid;
    place-items: center;
    height: 90vh;
    width:100vw;
    margin:0;
}

.form
{
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: none;
}
.form input
{
    border-radius: 5px;
}
#explanation
{
    
    border-radius: 5px;
}
.form-control-label{
    font-weight: bold;
}


#save_button
{
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
}
#img_label
{
    display: grid;
    place-items: center;
    font-size: 1.5em;
    font-weight : bold;
}

/* Browse cards*/
.card-content
{
    display: grid;
    place-items: center;
    padding-top:20px;
}
.accordion
{
    max-width:800px;
   
}
.accordion .contentBx
{
    position: relative;
    margin:10px 20px;
}
.accordion .contentBx .label
{
    position: relative;
    padding:10px;
    background: #2694af;
    color:#fff;
    cursor: pointer;
}
.accordion .contentBx .label::before
{
    content: '+';
    position: absolute;
    top:50%;
    right:20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.accordion .contentBx.active .label::before
{
    content: '-';

}
.accordion .contentBx .text
{
    position:relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.accordion .contentBx.active .text
{
    height:150px;
    padding: 10px;

}



/*register form */
.form-group ,.border-top 
{
    display: grid;
    place-items: center;
}
.content
{
    display:grid;
    place-content:center;
    margin-top: 60px;
}