{% extends "layout.html" %}
{% block title %}
    Name Palace
{% endblock %}
{% block main %}
<div class="content">
    <form action="" method="POST">
        <fieldset class="form-group mb-3">

            <div class="palace mb-3" id="palace">

                <h3>Palace Name</h3>
               
                <input type="text" name="palace" autofocus autocomplete="off">
                <br>
                <button class="btn btn-success" >Save</button>
            </div>
        </fieldset>
    </form>
</div>


{% endblock %}